[project]
	description = [RepoCategory:custom] | Repo Category: custom, History Protection: On
[access]
	inheritFrom = TF-Projects/proj5201
[receive]
	requireChangeId = true
	requireSignedOffBy = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/meta/config"]
	read = group TF: iwlwifi: tf-admin
	push = +force group TF: iwlwifi: tf-admin
	submit = group TF: iwlwifi: tf-admin
	forgeAuthor = group TF: iwlwifi: tf-admin
	forgeCommitter = group TF: iwlwifi: tf-admin
	exclusiveGroupPermissions = submit
[access "refs/*"]
	owner = group TF: iwlwifi: tf-admin
	read = group TF: Project Member of proj5201 (iwlwifi)
	read = group TF: iwlwifi: tf-admin
	abandon = group TF: iwlwifi: maint-iw
	abandon = group TF: iwlwifi: tf-admin
	create = group TF: iwlwifi: maint-iw
	forgeAuthor = group TF: iwlwifi: maint-iw
	forgeCommitter = group TF: iwlwifi: maint-iw
	push = +force group TF: iwlwifi: maint-iw
	pushMerge = group TF: iwlwifi: maint-iw
	label-Code-Review = -2..+2 group TF: iwlwifi: maint-iw
	label-Code-Review = -1..+1 group TF: Project Member of proj5201 (iwlwifi)
	label-Verified = -1..+1 group TF: Project Member of proj5201 (iwlwifi)
	rebase = group TF: iwlwifi: maint-iw
	removeReviewer = group TF: iwlwifi: maint-iw
	submit = group TF: iwlwifi: maint-iw
	editTopicName = +force group TF: iwlwifi: maint-iw
	forgeServerAsCommitter = group TF: iwlwifi: maint-iw
	viewDrafts = group TF: iwlwifi: perci
	viewDrafts = group TF: iwlwifi: tf-admin
	label-automatic-review = -1..+1 group TF: iwlwifi: perci
	deleteDrafts = group TF: iwlwifi: tf-admin
[access "refs/for/refs/heads/*"]
	push = group TF: Project Member of proj5201 (iwlwifi)
[access "refs/drafts/*"]
	push = group TF: Project Member of proj5201 (iwlwifi)
[access "refs/heads/common/*"]
	forgeAuthor = group TF: Project Member of proj5201 (iwlwifi)
	forgeCommitter = group TF: Project Member of proj5201 (iwlwifi)
	push = +force group TF: Project Member of proj5201 (iwlwifi)
	pushMerge = group TF: Project Member of proj5201 (iwlwifi)
	label-Code-Review = -2..+2 group TF: Project Member of proj5201 (iwlwifi)
	submit = group TF: Project Member of proj5201 (iwlwifi)
	create = group TF: Project Member of proj5201 (iwlwifi)
[access "refs/heads/sandbox/${username}/*"]
	create = group TF: Project Member of proj5201 (iwlwifi)
	forgeAuthor = group TF: Project Member of proj5201 (iwlwifi)
	forgeCommitter = group TF: Project Member of proj5201 (iwlwifi)
	push = +force group TF: Project Member of proj5201 (iwlwifi)
	pushMerge = group TF: Project Member of proj5201 (iwlwifi)
	label-Code-Review = -2..+2 group TF: Project Member of proj5201 (iwlwifi)
	submit = group TF: Project Member of proj5201 (iwlwifi)
[access "refs/tags/*"]
	create = group TF: iwlwifi: maint-iw
	create = group TF: iwlwifi: taggers
	forgeCommitter = group TF: iwlwifi: maint-iw
	forgeCommitter = group TF: iwlwifi: taggers
	forgeAuthor = group TF: iwlwifi: maint-iw
	forgeAuthor = group TF: iwlwifi: taggers
	push = +force group TF: iwlwifi: maint-iw
	push = +force group TF: iwlwifi: taggers
	pushMerge = group TF: iwlwifi: maint-iw
	pushMerge = group TF: iwlwifi: taggers
	pushTag = +force group TF: iwlwifi: maint-iw
	pushTag = +force group TF: iwlwifi: taggers
	pushSignedTag = group TF: iwlwifi: maint-iw
	pushSignedTag = group TF: iwlwifi: taggers
	forgeServerAsCommitter = group TF: iwlwifi: maint-iw
[access "refs/tags/common/*"]
	create = group TF: Project Member of proj5201 (iwlwifi)
	push = group TF: Project Member of proj5201 (iwlwifi)
	push = +force group TF: iwlwifi: maint-iw
	push = +force group TF: iwlwifi: taggers
	pushTag = group TF: Project Member of proj5201 (iwlwifi)
	pushTag = +force group TF: iwlwifi: maint-iw
	pushTag = +force group TF: iwlwifi: taggers
[commentlink "jira"]
	match = [Jj][Ii][Rr][Aa]:([A-Z]+-\\d+)
	link = https://jira01.devtools.intel.com/browse/$1
[commentlink "fixes"]
	match = fixes=(I[A-Fa-f0-9]+)
	link = "https://git-amr-3.devtools.intel.com/gerrit/#/q/$1"
[commentlink "cros"]
	match = chrome-os-partner:(\\d+)
	link = https://partnerissuetracker.corp.google.com/issues/$1
[commentlink "korg"]
	match = kernel.org:(\\d+)
	link = https://bugzilla.kernel.org/show_bug.cgi?id=$1
[label "automatic-review"]
	function = NoBlock
	value = -1 Some things not OK
	value =  0 not checked
	value = +1 Everything OK
	defaultValue = 0
[access "refs/meta/dashboards/iwlwifi(proj5201)"]
	read = deny group TF: Project Member of proj5201 (iwlwifi)
