[project]
	description = [RepoCategory:unmanaged] | Repo Category: unmanaged
[access]
	inheritFrom = TF-Projects
[access "refs/meta/config"]
	push = +force group TF: iwlwifi: Administrator
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = cherry pick
[access "refs/heads/*"]
	read = group Registered Users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Registered Users
[access "refs/heads/common/*"]
	forgeAuthor = group Registered Users
	forgeCommitter = group Registered Users
	push = +force group Registered Users
	pushMerge = group Registered Users
	label-Code-Review = -2..+2 group Registered Users
	submit = group Registered Users
[access "refs/heads/sandbox/${username}/*"]
	create = group Registered Users
	forgeAuthor = group Registered Users
	forgeCommitter = group Registered Users
	push = +force group Registered Users
	pushMerge = group Registered Users
	label-Code-Review = -2..+2 group Registered Users
	submit = group Registered Users
[access "refs/tags/*"]
	pushTag = group TF: iwlwifi: Administrator
	pushSignedTag = group TF: iwlwifi: Administrator
[access "refs/*"]
	owner = group TF: iwlwifi: Administrator
	read = group TF: iwlwifi: Administrator
	abandon = group TF: iwlwifi: Administrator
	create = group TF: iwlwifi: Administrator
	forgeAuthor = group TF: iwlwifi: Administrator
	forgeCommitter = group TF: iwlwifi: Administrator
	forgeServerAsCommitter = group TF: iwlwifi: Administrator
	push = +force group TF: iwlwifi: Administrator
	label-Code-Review = -2..+2 group TF: iwlwifi: Administrator
	label-Verified = -1..+1 group TF: iwlwifi: Administrator
	submit = group TF: iwlwifi: Administrator
	viewDrafts = group TF: iwlwifi: Administrator
	deleteDrafts = group TF: iwlwifi: Administrator
	publishDrafts = group TF: iwlwifi: Administrator
[access "refs/for/refs/*"]
	push = group TF: iwlwifi: Administrator
	pushMerge = group TF: iwlwifi: Administrator
	rebase = group TF: iwlwifi: Administrator
[access "refs/garbage/*"]
	read = group TF: iwlwifi: maint-driver
	read = group TF: iwlwifi: maint-fwutil
	read = group TF: iwlwifi: maint-hal
	read = group TF: iwlwifi: maint-hostap
	read = group TF: iwlwifi: maint-iw
	read = group TF: iwlwifi: maint-pytm
	read = group TF: iwlwifi: maint-tools
	read = group TF: iwlwifi: maint-ult
	read = group TF: iwlwifi: maint-xvt
	read = group TF: iwlwifi: restricted-read
	read = group TF: iwlwifi: taggers
