[project]
	description = [RepoCategory:unmanaged] | Repo Category: unmanaged
[access]
	inheritFrom = TF-Projects
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = cherry pick
[access "refs/*"]
	owner = group TF: iwlwifi: Administrator
[access "refs/meta/config"]
	read = group TF: iwlwifi: Administrator
	push = +force group TF: iwlwifi: Administrator
	submit = group TF: iwlwifi: Administrator
	forgeAuthor = group TF: iwlwifi: Administrator
	forgeCommitter = group TF: iwlwifi: Administrator
[access "refs/heads/*"]
	owner = group TF: iwlwifi: Administrator
	read = group Registered Users
	abandon = group TF: iwlwifi: maint-iw
	create = group TF: iwlwifi: maint-iw
	forgeAuthor = group TF: iwlwifi: maint-iw
	forgeCommitter = group TF: iwlwifi: maint-iw
	push = +force group TF: iwlwifi: maint-iw
	pushMerge = group TF: iwlwifi: maint-iw
	pushTag = +force group TF: iwlwifi: maint-iw
	pushSignedTag = group TF: iwlwifi: maint-iw
	label-Code-Review = -2..+2 group TF: iwlwifi: maint-iw
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Registered Users
	rebase = group TF: iwlwifi: maint-iw
	removeReviewer = group TF: iwlwifi: maint-iw
	submit = group TF: iwlwifi: maint-iw
	editTopicName = +force group TF: iwlwifi: maint-iw
[access "refs/heads/common/*"]
	forgeAuthor = group Registered Users
	forgeCommitter = group Registered Users
	push = +force group Registered Users
	pushMerge = group Registered Users
	label-Code-Review = -2..+2 group Registered Users
	submit = group Registered Users
[access "refs/heads/sandbox/%(username)/*"]
	create = group Registered Users
	forgeAuthor = group Registered Users
	forgeCommitter = group Registered Users
	push = +force group Registered Users
	pushMerge = group Registered Users
	label-Code-Review = -2..+2 group Registered Users
	submit = group Registered Users
[access "refs/tags/*"]
	create = group TF: iwlwifi: maint-iw
	create = group TF: iwlwifi: taggers
	forgeCommitter = group TF: iwlwifi: maint-iw
	forgeCommitter = group TF: iwlwifi: taggers
	push = +force group TF: iwlwifi: maint-iw
	push = +force group TF: iwlwifi: taggers

